<%- include('../template/header') -%>

<body>

    <%- include('../template/navbar') -%>

    <div class="tableNews">
        <div style="padding-top: 3em";>
            <div class="container" style="background:rgb(255 255 255 / 60%); padding:44px">
                <h1 class="text-center" style='margin-top:1.5em; font-weight:bolder; margin-bottom: 10px; font-family: nikoshFont; color: darkcyan;'>সংবাদ আর্কাইভ</h1>
        
                <form method="post" action="/filterNews" style="box-shadow: 2px 2px 12px black; margin-bottom: 20px; padding-top: 25px; padding-left: 120px;">
                    <div class="row">

                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label style="font-family: nikoshFont; font-weight:bold;" >সংবাদপত্র</label><br>
                                <select class="form-control" name="newsPaper">
                                    <option value="">সংবাদপত্র বাছাই করুন</option>
                                    <% if(newspaper.length > 0) { %>
                                        <% newspaper.forEach((paper) => { %>
                                            <option value="<%= paper.newsPaperName %>" ><%= paper.newsPaperName %></option>
                                        <% }); %>
                                    <% } else { %>
                                        
                                        <h5 style="font-family: nikoshFont; font-weight:bold;" class="text-center">কোন রেকর্ড পাওয়া যায়নি!</h5>
                                    <% } %>
                                </select> 
                            </div>                                      
                        </div>
                    
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label style="font-family: nikoshFont; font-weight:bold;">জেলা</label><br>
                                <span style="font-family: nikoshFont;">
                                    <select class="form-control" name="district">
                                        <option value="">জেলা বাছাই করুন</option>
                                        <option value="সারাদেশ">সারাদেশ</option>
                                        <option value="কক্সবাজার">কক্সবাজার</option>
                                        <option value="কিশোরগঞ্জ">কিশোরগঞ্জ</option>
                                        <option value="কুড়িগ্রাম">কুড়িগ্রাম</option>
                                        <option value="কুমিল্লা">কুমিল্লা</option>
                                        <option value="কুষ্টিয়া">কুষ্টিয়া</option>
                                        <option value="খাগড়াছড়ি">খাগড়াছড়ি</option>
                                        <option value="খুলনা">খুলনা</option>
                                        <option value="গাইবান্ধা">গাইবান্ধা</option>
                                        <option value="গাজীপুর">গাজীপুর</option>
                                        <option value="গোপালগঞ্জ">গোপালগঞ্জ</option>
                                        <option value="চট্টগ্রাম">চট্টগ্রাম</option>
                                        <option value="চাঁদপুর">চাঁদপুর</option>
                                        <option value="চাঁপাইনবাবগঞ্জ">চাঁপাইনবাবগঞ্জ</option>
                                        <option value="চুয়াডাঙ্গা">চুয়াডাঙ্গা</option>
                                        <option value="জয়পুরহাট">জয়পুরহাট</option>
                                        <option value="জামালপুর">জামালপুর</option>
                                        <option value="ঝালকাঠি">ঝালকাঠি</option>
                                        <option value="ঝিনাইদহ">ঝিনাইদহ</option>
                                        <option value="টাঙ্গাইল">টাঙ্গাইল</option>
                                        <option value="ঠাকুরগাঁও">ঠাকুরগাঁও</option>
                                        <option value="ঢাকা">ঢাকা</option>
                                        <option value="দিনাজপুর">দিনাজপুর</option>
                                        <option value="নওগাঁ">নওগাঁ</option>
                                        <option value="নড়াইল">নড়াইল</option>
                                        <option value="নরসিংদি">নরসিংদি</option>
                                        <option value="নাটোর">নাটোর</option>
                                        <option value="নারায়ণগঞ্জ">নারায়ণগঞ্জ</option>
                                        <option value="নীলফামারি">নীলফামারি</option>
                                        <option value="নেত্রকোনা">নেত্রকোনা</option>
                                        <option value="নোয়াখালি">নোয়াখালি</option>
                                        <option value="পঞ্চগড়">পঞ্চগড়</option>
                                        <option value="পটুয়াখালি">পটুয়াখালি</option>
                                        <option value="পাবনা">পাবনা</option>
                                        <option value="পিরোজপুর">পিরোজপুর</option>
                                        <option value="ফরিদপুর">ফরিদপুর</option>
                                        <option value="ফেনী">ফেনী</option>
                                        <option value="বগুড়া">বগুড়া</option>
                                        <option value="বরগুনা">বরগুনা</option>
                                        <option value="বরিশাল">বরিশাল</option>
                                        <option value="বাগেরহাট">বাগেরহাট</option>
                                        <option value="বান্দরবান">বান্দরবান</option>
                                        <option value="ব্রাহ্মণবাড়িয়া">ব্রাহ্মণবাড়িয়া</option>
                                        <option value="ভোলা">ভোলা</option>
                                        <option value="ময়মনসিংহ">ময়মনসিংহ</option>
                                        <option value="মাগুরা">মাগুরা</option>
                                        <option value="মাদারিপুর">মাদারিপুর</option>
                                        <option value="মানিকগঞ্জ">মানিকগঞ্জ</option>
                                        <option value="মুন্সিগঞ্জ">মুন্সিগঞ্জ</option>
                                        <option value="মেহেরপুর">মেহেরপুর</option>
                                        <option value="মৌলভীবাজার">মৌলভীবাজার</option>
                                        <option value="যশোর">যশোর</option>
                                        <option value="রংপুর">রংপুর</option>
                                        <option value="রাঙ্গামাটি">রাঙ্গামাটি</option>
                                        <option value="রাজবাড়ি">রাজবাড়ি</option>
                                        <option value="রাজশাহী">রাজশাহী</option>
                                        <option value="লক্ষ্মীপুর">লক্ষ্মীপুর</option>
                                        <option value="লালমনিরহাট">লালমনিরহাট</option>
                                        <option value="শরিয়তপুর">শরিয়তপুর</option>
                                        <option value="শেরপুর">শেরপুর</option>
                                        <option value="সাতক্ষীরা">সাতক্ষীরা</option>
                                        <option value="সিরাজগঞ্জ">সিরাজগঞ্জ</option>
                                        <option value="সিলেট">সিলেট</option>
                                        <option value="সুনামগঞ্জ">সুনামগঞ্জ</option>
                                        <option value="হবিগঞ্জ">হবিগঞ্জ</option>
                                    </select> 
                                </span>
                            </div>
                        </div>
        
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <label style="font-family: nikoshFont; font-weight:bold;">তারিখ</label>
                                <input type="date" class="form-control" name="date" placeholder="Enter a date">
                            </div>
                        </div>
                        
                        <div class="col-md-3  col-sm-12" style="margin-top:30px;">
                            <button type="submit" value="Submit" class="btn btn-primary" style="font-family: nikoshFont;">সাবমিট</button>
                        </div> 

                    </div>
                </form>

                <form method="post" action="/filterTag" style="box-shadow: 2px 2px 12px black; margin-bottom: 20px; padding-top: 25px; padding-left: 120px;">
                    <div class="row text-center" style="padding-bottom: 10px;">
                        <div class="col-md-12 col-sm-12" style="padding-right: 100px;">
                            <label style="padding-right: 80px; font-weight:bold; font-family: nikoshFont;">ট্যাগ লিখে সার্চ করুন</label>
                            <br>
                            <input type="text" id="searchName" name="tags" style="background:white; font-family: nikoshFont;" placeholder="এখানে ট্যাগ লিখুন" > 
        
                            <button type="submit" value="Submit" class="btn btn-primary" style="font-family: nikoshFont;">সার্চ করুন</button>
                        </div>
                    </div>
                </form>
        
                <% if(output.length > 0) { %>
                <div class="row">
                    <% output.forEach((entry) => { %>
                        <a href="/open/<%= entry.id %>" style="text-decoration: none;">
                            <div class="col-md-4" style="margin-bottom: 10px;">                
                                <div class="card-deck">
                                    <div class="card card__one" style="box-shadow: 4px 4px 5px #929293;">
                                        <div class="card-header text-center" style="font-weight:bold;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img class="card-img-top" style = "width:180px; height:50px " src="<%= entry.newspapers.logo %>">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-img-top text-center">
                                            <img  width="auto" height="200px" src="<%= entry.image %>">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title text-center " style="text-align: justify; font-weight:bold; font-family: nikoshFont"><%= entry.headline %></h5>
                                        </div>
                                        <div class="card-footer text-center">
                                            
                                            <% if (locals.user) { %>
                                                <a href="#"  style="text-decoration:none;"><span style="color:black; font-family: nikoshFont" ><%= moment(entry.date).format('DD-MMM-YYYY') %> , <%= entry.district %></span></a>
                                                <br>

                                                <a href="/open/<%= entry.id %>" class="btn btn-success" style="text-decoration:none; font-family: nikoshFont"><i class="fa fa-search-plus"></i>দেখুন  </a>
                                                <a href="/edit/<%= entry.id %>" class="btn btn-primary" style="text-decoration:none; font-family: nikoshFont"><i class="fa fa-edit"></i>এডিট  </a>
                                                <a href="/delete/<%= entry.id %>" class="btn btn-danger" style="text-decoration:none; font-family: nikoshFont"><i class="fa fa-trash"></i>ডিলিট</a>
                                            <% } else { %>
                                                <a href="#"  style="text-decoration:none;"><span style="color:black; font-family: myFirstFont" ><%= moment(entry.date).format('DD-MMM-YYYY') %> , <%= entry.district %></span></a>

                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% }); %>
                </div>
                
                <% } else { %>               
                        <h5 class="text-center">No Record Found !</h5>                
                <% } %>
            </div>
        </div>
    </div>

    <script>

        // jquery-ajax for auto completion
        $(document).ready(function() {
            $('#searchName').autocomplete({
                source: function(req, res) {
                    $.ajax({
                        url: "/auto",
                        dataType: "jsonp",
                        type: "GET",
                        data: req,
                        success: function(data){
                            //alert(data);
                            res(data);
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                },
                minLength: 1,
                select: function(event, ui) {            
                    if(ui.item){
                        $("#searchName").text(ui.item.label);
                    }
                }
            });
        });
    
    </script>
    

    <%- include('../template/footer') -%>

</body>

</html>