<%- include('../template/header') -%>

<body>

    <%- include('../template/navbar') -%>


    <div class="tableNews">
        <div class="container pt-4" style="background:rgb(255 255 255 / 60%);">
            <h1 class="text-center" style='margin-top:3em'>
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img-top"  src="/images/bdlogo.png" style="width:80px; height: 80px;">
                    </div>
                    <div class="col-md-6"><img class="card-img-top"  src="<%= output.newspapers.logo %>" style="width:350px; height: 100px;"></div>
                    <div class="col-md-3">
                        <img src="/images/ais.png" style="width:80px; height: 80px;">
                    </div>
                </div>

            </h1>

            <div style=" margin-bottom: 20px; padding-bottom: 5px; padding-top: 10px; margin-top: 30px; background-color: #ffffffa6; box-shadow: 2px 2px 12px black;" class="text-center">
                <h2 class="text-center mb-4" >
                    <span style="font-family: nikoshFont; font-weight:1000; color:#254c2a">সংবাদ শিরোনাম: </span> <span style="font-family: nikoshFont;" class="underline--magical"> <%= output.headline %></span>
                </h2>
                <div >
                    <span style="font-size: 18px; font-family: nikoshFont"> <%= moment(output.date).format('DD-MMM-YYYY') %>, <%= output.district %> </span> <br>
                    <span style="font-size: 18px; font-family: nikoshFont; font-weight:bold"> পৃষ্ঠা নংঃ </span> <span style="font-size: 17px"><%= output.pageNumber %></span>
                    <br>
                    <b style="font-size: 18px; font-family: nikoshFont;">ট্যাগ: </b> 
                    <% output.tags.forEach((entry) => { %>
                        <span class="", style="font-size: 17px; font-family: nikoshFont"> <%= entry %> </span> |
                    <% }); %>
                    <br>
                    <a href="<%= output.image %>" download>
                        <button class="btn btn-info" style="font-family: nikoshFont; font-weight:bold; background-image: linear-gradient(45deg, #06a014, #28ff00b0)">
                            সংবাদটি ডাউনলোড করুন  
                        </button>
                    </a>
                    <br>
                </div>
            </div>
            
            <div class="text-center" style="position: relative">
                <img class="img-fluid" id="test" src="<%= output.image %>" alt="">
                <br>
                
            </div>

            <!-- Social Media Sharing -->

            <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank">
                Share on Facebook
            </a> -->
            <div class="text-center" style="padding-bottom: 5px;">
                <a href="/generateReport/<%= output.id %>">
                    <button class="btn btn-info" style="font-family: nikoshFont; font-weight: bold; background-image: linear-gradient(180deg, #06a014, #28ff00b0)">
                        সংবাদটি পিডিএফ আকারে ডাউনলোড করুন   
                    </button> 
                    
                </a>
            </div>
            
        </div>
    </div>

    <%- include('../template/footer') -%>
    

</body>
</html>